<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />

    <link rel="stylesheet" href="./styles/foundation.min.css" />
    <title>Monster Slayer</title>
  </head>
  <body>
    <div id="app">
      <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <div class="cell small-6 small-offset-12">
            <h2 class="text-center">YOU</h2>
            <div class="healthbar">
              <div
                class="main-healthbar text-center"
                :style="{width: playerHealth + '%'}"
              >
                {{ playerHealth }}
              </div>
            </div>
          </div>
          <div class="cell small-6">
            <h2 class="text-center">MONSTER</h2>
            <div class="healthbar">
              <div
                class="main-healthbar text-center"
                :style="{width: monsterHealth + '%'}"
              >
                {{ monsterHealth }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-container controls" v-if="!gameIsRunning">
        <div class="grid-x grid-margin-y">
          <div class="cell">
            <button class="start-btn" @click="startGame">START NEW GAME</button>
          </div>
        </div>
      </div>

      <div class="grid-container controls" v-else="gameIsRunning">
        <div class="grid-x grid-margin-y">
          <div class="cell">
            <button class="start-btn attack-btn" @click="attack">ATTACK</button>
            <button class="start-btn special-attack-btn" @click="specialAttack">
              SPECIAL ATTACK
            </button>
            <button class="start-btn heal-btn" @click="heal">HEAL</button>
            <button class="start-btn give-up-btn" @click="giveUp">
              GIVE UP
            </button>
          </div>
        </div>
      </div>

      <div class="grid-container log" v-if="turns.length > 0">
        <div class="grid-x grid-margin-y">
          <div class="cell">
            <ul>
              <li
                v-for="turn in turns"
                :class="{'player': turn.isPlayer, 'monster': !turn.isPlayer}"
              >
                {{ turn.text }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
  </body>
</html>
