* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333 !important;
  color: #fff !important;
}

.healthbar {
  background-color: #eee;
  width: 100%;
  height: 35px;
}

.main-healthbar {
  background-color: rgb(0, 128, 0);
  width: 80%;
  height: 100%;
}

.controls {
  margin: 2rem 0;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 6px #ccc;
  text-align: center;
  padding: 1rem;
}

.start-btn {
  background-color: #aaffb0;
  padding: 0.85em 1em;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 3px;
}

.start-btn:hover {
  background-color: #76ff7e;
}

.attack-btn {
  background-color: rgb(250, 67, 67);
}

.attack-btn:hover {
  background-color: rgb(248, 47, 47);
}

.special-attack-btn {
  background-color: rgb(250, 188, 74);
}

.special-attack-btn:hover {
  background-color: rgb(248, 178, 47);
}

.give-up-btn {
  background-color: #fff;
}

.give-up-btn:hover {
  background-color: rgb(235, 235, 235);
}
